<!DOCTYPE html>
<html>
<head>
<title>Sensor Monitoring</title>

<style>
body { font-family: Arial; text-align:center; }
button { padding:10px; margin:5px; }
table { border-collapse: collapse; margin:auto; }
th,td { border:1px solid black; padding:8px; }
</style>

</head>

<body>

<h2>Sensor Monitoring System</h2>

<h3 id="status">Checking...</h3>

<button onclick="start()">START</button>
<button onclick="stop()">STOP</button>

<br><br>

<input type="text" id="searchBox" placeholder="Search">
<button onclick="search()">Search</button>

<br><br>

<table>
<thead>
<tr>
<th>ID</th><th>S1</th><th>S2</th><th>S3</th><th>Time</th>
</tr>
</thead>
<tbody id="data"></tbody>
</table>

<script>

async function load(){
    let res = await fetch('/api/all');
    let d = await res.json();

    let html = "";
    d.reverse().forEach(r=>{
        html += `<tr>
        <td>${r.id}</td>
        <td>${r.sensor1}</td>
        <td>${r.sensor2}</td>
        <td>${r.sensor3}</td>
        <td>${r.time}</td>
        </tr>`;
    });

    document.getElementById("data").innerHTML = html;
}

async function status(){
    let res = await fetch('/status');
    let d = await res.json();

    let el = document.getElementById("status");

    if(d.status=="Connected"){
        el.innerHTML="🟢 Connected";
        el.style.color="green";
    } else {
        el.innerHTML="🔴 Disconnected";
        el.style.color="red";
    }
}

function start(){ fetch('/start'); }
function stop(){ fetch('/stop'); }

function search(){
    let val = document.getElementById("searchBox").value.toLowerCase();
    let rows = document.querySelectorAll("tbody tr");

    rows.forEach(r=>{
        r.style.display = r.innerText.toLowerCase().includes(val) ? "" : "none";
    });
}

setInterval(load,5000);
setInterval(status,3000);

load();
status();

</script>

</body>
</html>
